$violeta: #572EE5;
$violeta_fade: #572ee5e6;
$celeste: #5ED7C6;
$icon-gray: #CDD6E0;
$text-gray: #9CAFC3 ;

$myFont: 'Montserrat', sans-serif;
$secondFont: 'Roboto', sans-serif;


//MODO NOCTURNO 

$background-noc: #37383C;
$background2-noc: #222326;

//FAVORITOS

//SIN CONTENIDO
$celeste_fav: #50E3C2;